/*
id      -> son unicos, se una para una sola etiqueta html
class   -> definido para usar en varias etiquetas html
*/

html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    background: #FFFFFF url("../../img/background.jpg") repeat scroll 0% 0%;
}

ul {
    list-style: outside none none;
}

.container {    
    max-height: 100%;
    max-width: 100%;
}

.navbar-toggle {
    background-color: #FFFFFF;
}

.navbar-toggle .icon-bar {
    background-color: #000000;
}

.nav > li > a:hover {
    background-color: #222222;
}

#header {}

#header_top {
  background-image: url("../../img/header_top.jpg");
}

#header_top_logo {
    margin: 25px -40px 0;
}

#menu  ul {
    margin: 0 0 0 45px;
    float: left;
    padding: 0px;
        
}

#header_top_menu {
    margin: 25px 0 0;
}

#boton_buscar {
    margin: 12px 0 0;
}

#menu {
}

.item_menu {
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0px;

    -ms-transform:scaleY(1.4); /* IE */
    -moz-transform:scaleY(1.4); /* Firefox */
    -webkit-transform:scaleY(1.4); /* Safari and Chrome */
    -o-transform:scaleY(1.4);/* Opera */
    transform:scaleY(1.4);
}

.item_menu a {
    text-decoration: none;
    color: #FFFFFF;
}

#twitter {
    background-image: url("../../img/twitter_top.png");
    background-repeat: no-repeat;
    float: right;
    height: 61px;
    margin: 30px 37px 0 0;
    width: 276px;
}


#twitter p {
    color: #ececec;
    font-family: arial;
    font-size: 10px;
    padding: 7px 0 0 70px;
}

#twitter p span {
    color: #006699;
}

#header_botton {
    background-image: url("../../img/header_bottom.jpg");
    height: 354px;
}

#header_botton  .container_web {
    padding: 25px 0 0;
}

#body_slider {
    background-image: url("../../img/body_slider.jpg");
    background-repeat: no-repeat;
    margin: 33px 0 0 13%;
    text-align: center;
    width: 76%;
    min-width: 280px;
}

#body_slider .carousel-indicators li {
    background-image: url("../../img/boton_slider.png");
    border: 0px;
    height: 19px;
    width: 19px;
    margin: 0 5px 0 0;
}

#body_slider .carousel-indicators .active {
    background-image: url("../../img/boton_slider_select.png");
    height: 19px;
    width: 19px;
}

#body_slider .carousel-indicators {
    margin-left: -30%;
    bottom: -45px;
}


#images_slider {
    padding: 15px 5px 0 0;
}

#botones_slider {
    display: inline-block;
    margin: 18px auto;
    width: 170px;
}

.boton_slider {
    float: left;
    margin: 0 0 0 15px;
}

#body {
    padding: 0 125px;
}

#body_carrusel {
    margin: 50px 0 20px 55px;
    min-width: 77px;
}

#body_articulos {
    height: 350px;
}

.image_carrusel {
    background-image: url("../../img/frame_carrusel_image.jpg");
}

.flecha_carrusel_d {
    margin: -68px 0 0 92px;
    position: absolute;
}

.flecha_carrusel_i {
    margin: 35px 0 0 -125px;
    position: absolute;
}

#articulos {
}

#body_menu_lateral {
    min-width: 190px;
}

.menu_lateral {
    background-image: url("../../img/menu_lateral.png");
    height: 40px;
}

#body_menu_lateral ul li a {
    color: #8a8a8a;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 12px;
}

#body_menu_lateral ul {
    padding: 0px;
    margin: 0px;
}

#body_menu_lateral h3 {
    color: #4d4d4d;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: normal;
    padding: 15px 0;
    margin: 0px;
    text-align: left;
}

#body_menu_lateral p {
    color: #8a8a8a;
    font-family: sans-serif;
    font-size: 10px;
    padding: 0;
    text-align: left;
    
}

.articulo {
    background-image: url("../../img/frame_image_articulo.png");
    min-width: 190px;

}

.articulo h3 {
    color: #4d4d4d;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: normal;
    margin: 0px;
    padding: 15px 0 15px 15px;
    text-align: left;
}

.articulo p {
    color: #8a8a8a;
    font-family: sans-serif;
    font-size: 10px;
    text-align: left;
    padding: 0 14px;
}

#footer {
    background-color: #080808;
    background-image: url("../../img/footer.jpg");
    background-repeat: no-repeat;
}

#footer_links {
    display: inline-block;
    width: 100%;
}

#links {
    padding: 50px 0 0;
}

.lista_links {
    display: inline-block;
}

.lista_links span {
    color: #FFFFFF;
}

.lista_links ul li a {
    color: #a1a1a1;
    text-decoration: none;
}

#footer_copy {
    color: #2a2a2a;
    float: left;
    padding: 0 210px 0 0;
}

#footer_social {
    display: inline-block;
}

#footer_logo {
    padding: 60px 95px 0 0;
}

#footer_logo_social {
}

.logo_social {
    float: left;
    margin: 0 0 0 10px;
}

.panel-primary {
    min-width: 310px;
}