 
/*
id      -> son unicos, se una para una sola etiqueta html
class   -> definido para usar en varias etiquetas html
*/

html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    background: #FFFFFF url("../../img/background.jpg") repeat scroll 0% 0%;
	width: 1400px;
}

p {
    margin: 0px;
}

ul {
    list-style: outside none none;
}

.container_web {
    left: 55%;
    margin-left: -570px;
    position: relative;
    width: 1000px;
}

#header {}

#header_top {
  background-color: #080808;
  background-image: url("../../img/header_top.jpg");
  width: 100%;
  height: 159px;
}

#header_top_logo {
    float: left;
    margin: 25px 0 0;
}

#menu  ul{
    /*margin: 0 0 10px;*/
    margin: 0 0 0 45px;
    float: left;
    /*-----------------*/
    padding: 0px;
        
}

#header_top_menu {
    /*float: right;*/
    float: left;
    margin: 25px 0 0;
    width: 65%
}

#boton_buscar {
    float: right;
    margin: -3px 0 0;
    /*-----------------*/
    height: 22px;
}

#menu {
}

.item_menu {
    display: inline-block;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0px;
    margin: 0 35px 0 0;

    -ms-transform:scaleY(1.4); /* IE */
    -moz-transform:scaleY(1.4); /* Firefox */
    -webkit-transform:scaleY(1.4); /* Safari and Chrome */
    -o-transform:scaleY(1.4);/* Opera */
    transform:scaleY(1.4);
}

.item_menu a {
    text-decoration: none;
    color: #FFFFFF;
}

#twitter {
    background-image: url("../../img/twitter_top.png");
    float: right;
    height: 61px;
    margin: 30px 0 0;
    width: 276px;
}


#twitter p {
    color: #ececec;
    font-family: arial;
    font-size: 10px;
    padding: 7px 0 0 70px;
}

#twitter p span {
    color: #006699;
}

#header_botton {
    background-color: #386103;
    background-image: url("../../img/header_bottom.jpg");
    height: 354px;
}

#header_botton  .container_web {
    padding: 25px 0 0;
}

#body_slider {
    background-color: #e6e6e6;
    background-image: url("../../img/body_slider.jpg");
    background-repeat: no-repeat;
    height: 294px;
    width: 937px;
}

#images_slider {
    padding: 15px 0 0 15px;
}

#botones_slider {
    height: 20px;
    margin: 15px auto;
    width: 170px;
}

.boton_slider {
    float: left;
    margin: 0 0 0 15px;
}

#body {
    width: 100%;
    height: auto;
}

#body_carrusel {
    height: 150px;
    margin: 50px 0 0;
}

#body_articulos {
    height: 350px;
}

.image_carrusel {
    background-image: url("../../img/frame_carrusel_image.jpg");
    float: left;
    margin: 0 50px 0 0;
}
.flecha_carrusel_d {
    float: left;
    margin: 35px 0 0 -46px;
}

.flecha_carrusel_i {
    float: left;
    margin: 35px 6px 0 0;
}

#articulos {
    width: 100%;
}

#body_menu_lateral {
    float: left;
    width: 34%;
}

.menu_lateral {
    background-image: url("../../img/menu_lateral.png");
    height: 40px;
}

#body_menu_lateral ul li a {
    color: #8a8a8a;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 12px;
}

#body_menu_lateral ul {
    padding: 0 0 0 25px;
    margin: 0px;
}

#body_menu_lateral h3 {
    color: #4d4d4d;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: normal;
    padding: 15px 50px 15px 0;
    margin: 0px;
}

#body_menu_lateral p {
    color: #8a8a8a;
    font-family: sans-serif;
    font-size: 10px;
    padding: 0 50px 0 0;
    
}

.articulo {
    background-image: url("../../img/frame_image_articulo.png");
    float: left;
    width: 33%;

}

.articulo h3 {
    color: #4d4d4d;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: normal;
    padding: 15px 50px 15px 0;
    margin: 0px;
}

.articulo p {
    color: #8a8a8a;
    font-family: sans-serif;
    font-size: 10px;
    padding: 0 50px 0 0;
}

#footer {
    background-image: url("../../img/footer.jpg");
    width: 100%;
    height: 258px;
}

#footer_links {
    float: left;
    margin: 50px 0 0;
}

#links {
    
}

.lista_links {
    float: left;
}

.lista_links span {
    color: #FFFFFF;
}

.lista_links ul li a {
    color: #a1a1a1;
    text-decoration: none;
}

#footer_copy {
    color: #2a2a2a;
    /*----------------*/
    margin: 170px 0 0;
}

#footer_social {
    margin: 40px 0 0 60px;
}

#footer_logo_social {
    float: right;
    margin: 70px 0 0;
}

.logo_social {
    float: left;
    margin: 0 0 0 10px;
}